doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Water Service Data
    link(rel='stylesheet', href='/css/parcelReport.css')
  body
    for item in searchResults
      a(href='https://lfucg-data.herokuapp.com/waterreports/parcel/' + item.parcelid) #{item.address}
  