doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='')
    title LFUCG Data - Docs
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='js/html5shiv.min.js')
      script(src='js/respond.min.js')
  body
    .container
      h1 LFUCG Data Endpoints
      p Data endpoints for integration with LFUCG vendors. Base URL is https://lfucg-data.herokuapp.com.
      .panel
        h2 /api/v1/vprc
        p Returns the current status of active vacant property review commission cases.
        h3 Fields
        p case_id | integer | Unique identifier of VPRC case.
        p parcelid | string | Unique parcel identifier.
        p address | string | Text of address.
        p status | string | Current status of VPRC case (Identified, Eligible for Certification, Certified, Appealed, Watchlist) 
        p status_date | date | Date of current status.
        p lat | number | Latitude of case
        p lng | number | Longitude of case.
        h3 Required Query Parameters
        p No parameters
        h3 Example
        p
          | Return all vprc cases.
        a(href="https://lfucg-data.herokuapp.com/api/v1/vprc") https://lfucg-data.herokuapp.com/api/v1/vprc
      .panel
        h2 /api/v1/police
        p Returns police cases that were updated on or after a supplied date.
        h3 Fields
        p case_id | string | Unique identifier of police case.
        p incident_date | date | Date of incident.
        p case_type | string | Type of case.
        p address | string | Text of address.
        p address_type | string | Type of address.
        p last_updated | timestamp | Timestamp when data was last updated.
        p lat | number | Latitude of case
        p lng | number | Longitude of case.
        p geocode_status | string | Geocoding match status of case (M = Matched, T = Tied, U = Unmatched)
        h3 Required Query Parameters
        p apikey | string | Valid API Key string supplied by LFUCG
        p date | date | ex. 05-15-2017
        h3 Example
        p
          | Return police cases on or after May 11, 2017.
        a(href="https://lfucg-data.herokuapp.com/api/v1/police?apikey=APIKEY&date=05-11-2017") https://lfucg-data.herokuapp.com/api/v1/police?apikey=APIKEY&date=05-11-2017
      .panel
        h2 /api/v1/waterservice
        p Returns last date of water usage by meter.
        h3 Fields
        p kawc_premise_id | integer | Unique identifier of water meter.
        p address | string | Text of address.
        p parcelid | string | Unique parcel identifier.
        p last_usage | date | Date of last bill with more than zero usage. Records with a date of 1/1/2015 have no record of service since this system was developed.
        p lat | number | Latitude of meter.
        p lng | number | Longitude of meter.
        h3 Required Query Parameters
        p No parameters
        h3 Example
        p
          | Return last date of water usage for all meters.
        a(href="https://lfucg-data.herokuapp.com/api/v1/waterservice") https://lfucg-data.herokuapp.com/api/v1/waterservice
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')